.parallax2 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.parallax2 video {
    width: 120%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#text {
    position: relative;
    font-size: 5vw;
    color: #0C0C0C;
    font-family: "Bungee Hairline", sans-serif;
    margin-top: 10%;
    margin-left: 2%;
    z-index: 3;
    background-color: #0c0c0c4b;
    width: 100%;
    text-align: center;
    font-weight:900;
}

#link {
    position: relative;
    margin-top: 5%;
    transform: translateY(100px);
    font-size: 2vw;
    color: #0C0C0C !important;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 50px;
    box-shadow: 0px 10px 30px -5px rgba(122, 122, 122, 0.2);
    padding-left: 2%;
    padding-right: 2%;
    z-index: 3;
    transition: letter-spacing 0.3s ease;
}

#link:hover {
    color: rgba(0, 0, 0, 0.397) !important;
    letter-spacing: 0.05rem;
}

#banner{
    width: 100%;
    height: 150vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    /* background-color: #c6cfd8; */
    background-image: url(../reference/imgs/bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner2{
    width: 100%;
    height: 150vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: var(--banner2-color);
    background-image: url(../reference/imgs/bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#banner .slider, .banner2 .slider2{
    position: absolute;
    width: 200px;
    height: 250px;  
    top: 20%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(900px);
    animation: autoRun 50s linear infinite;
}


@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-14deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-14deg) rotateY(360deg)
    }
}
#banner .slider .item, .banner2 .slider2 .item2{
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position)-1)*(360/var(--quantity)))) translateZ(450px);
}

#banner .slider .item img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.banner2 .slider2 .item2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#banner .content, .banner2 .content2{
    position: absolute;
    bottom: 0;
    top: 60%;
    left: 40%;
    transform: translateX(-50%);
    width: min(1400px, 170vh);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content > h1{
    font-family: "Poppins", serif;
    text-align: left;
    font-weight: 900;
    font-size: 10rem;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    color:  #8c9fafad;
}

.content2 > h1{
    font-family: "Poppins", serif;
    text-align: left;
    font-weight: 900;
    font-size: 10rem;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    color:  var(--h1-color);
}
