* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    height: 100%;
    
}

/* S H O P */

div#shop {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 90%;
    background-color: white;
    border: 2px solid lightgrey;
}

div#shop > div {
    display: flex;
}

/* P U B  B A N D */

div.pub_band {
    margin-top: 1%;
}

div.pub_band div {
    display: block;
    margin: auto;
}

div.pub_band div{
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 241, 243);
}
.slider_container {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.slider {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 30s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
}

@keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
}

/* P A R A M E T E R S */

div#shop div div#parameters {
    padding-left: 2%;
    padding-top: 1%;
    width: 25%;
    justify-content: center;
}

div#shop div div#parameters ul {
    list-style-type: none;
}

div#shop div div#parameters ul div > li {
    display: flex;
    font-size: large;
    align-content: center;
    margin: 2%;
    padding: 2%;
}

div#shop div div#parameters ul div {
    border: 2px solid rgb(243, 243, 243);
    margin-bottom: 5%;
}

div#shop div div#parameters ul div li span{
    display: flex;
    margin-right:3%;
    font-size: x-large;
}

div#shop div div#parameters ul div li ul {
    list-style: none;
    padding-left: 0;
    border: 1px solid black;
}

div#shop div div#parameters ul div ul {
    position: absolute; /*définit la position de l'élément en 0 0 0 et ensuite c'est a toi de définir où tu veux qu'il soit*/
    left: -999em; /*ça met l'élément trèèèès loin de la fenètre car trop chiant de faire un truc qui cache*/
    z-index: 1000; /*aucune idée, demande à Lina*/
}

div#shop div div#parameters ul div:hover ul{
    position: inherit; /*définit la position de l'élément en 0 0 0 et ensuite c'est a toi de définir où tu veux qu'il soit*/
    display: flex;
    flex-direction: column;
}

div#shop div div#parameters ul div ul li {
    font-size: large;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
}

/* G A L L E R Y */

div#shop div div#gallery {
    width: 100%; /* Ajuste la largeur de la galerie */
    margin: 0 auto; /* Centrer la galerie si nécessaire */
}

div#shop div div#gallery ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none; /* Enlève les puces des listes */
    justify-content: center;
}

div#shop div div#gallery ul li {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0.5%;
    justify-items: center;
    border: 1px solid lightgray;
    /*border: 4px solid white;*/
}

div#shop div div#gallery ul li a{
    display: flex;
    text-decoration: none; /* Retire la décoration des liens */
    justify-content: center;
}

div#shop div div#gallery ul li a img{
    display: flex;
    height: auto;
    width: 100%;
}


div#shop div div#gallery ul li a img#img02{
    position: absolute; 
    left: -999em;
}

div#shop div div#gallery ul li:hover a img#img02{
    position: inherit;
}

div#shop div div#gallery ul li:hover a img#img01{
    position: absolute; 
    left: -999em;
}


div#shop div div#gallery ul li div{
    display: grid;
    grid-template-columns: 2.25fr 0.25fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 2%;
    
}

div#shop div div#gallery ul li div p{
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
    align-self: center;
    
}

div#shop div div#gallery ul li div p#name{
    display: flex;
    grid-area: auto/1/auto/2;
    justify-self: center;
}

div#shop div div#gallery ul li div p#price{
    display: flex;
    grid-area: auto/3/auto/4;
    justify-self: flex-end;
    font-size: large;
    color: rgb(255, 0, 0);
}

div#shop div div#gallery ul li div a{
    display: flex;
    align-self: center;
}

div#shop div div#gallery ul li div a span{
    display: flex;
    font-size: xx-large;
    color: rgb(36, 35, 35);
}

div#shop div div#gallery ul li div a span:active{
    display: flex;
    font-size: xx-large;
    color: gray;
}


/* P R O D U C T*/

div#shop div div#product {
    display: flex;
    padding-top: 1%;
    width: 22%;
    justify-content: flex-start;
}

div#shop div div#product > div{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}

div#shop div div#product div#avis{
    margin-top: 10%;
    margin-bottom: 10%;
}

span.checked{
    color: gold;
}