* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    height: 100%;
    
}

/* S H O P */

div#shop {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 90%;
    background-color: white;
    border: 2px solid lightgrey;
}

/* shoe */

div#shoe {
    display: grid;
    grid-template-columns: 1fr 1.25fr 0.75fr;
    grid-template-rows: 0.75fr 0.5 fr 0.25fr;
    margin: 2%;
    padding-bottom: 3%;
    border-bottom: 5px solid lightslategray;
}

/* image_slide */

div#image_slide {
    grid-area: 0/0/1/1;
}

div#image_slide img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
/* Hide the images by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    padding-top: 30%;
    padding-bottom: 30%;
    color: rgba(128, 128, 128, 0.623);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.623);
}
  
/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/* infos */

div#infos {
    grid-area: 0/1/1/2;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

div#infos p#durable {
    display: flex;
    align-self: center;
    width: 60%;
    padding: 3%;
    background-color: rgb(245, 245, 245);
}

div#infos h1{
    margin-bottom: 2%;
    font-size: 300%;
}

/* button */
div#shoes_size {
    margin-top: 2%;
    margin-bottom: 2%;
}

div#shoes_size button {
    background-color: rgb(242, 242, 247);
    border: 2px solid rgb(229, 229, 235);
    border-radius: 5px;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
/* Darker background on mouse-over */
div#shoes_size button:hover {
    color: white;
    background-color: darkgray;
    border: 2px solid gray;
}


/* add_to_cart */

div#add_to_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    border: 2px solid black;
}

div#add_to_cart h1{
    display: flex;
    align-self: flex-end;
    margin: 5%;
    font-size: 300%;
    color: red;
}

div#add_to_cart p{
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 5%;
}

div#add_to_cart p#stock{
    color: limegreen;
}

/* button */

div#add_to_cart button {
    background-color: navy;
    border: none;
    color: white;
    width: 80%;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

div#add_to_cart a {
    color: white;
    text-decoration: none;
}
  
/* Darker background on mouse-over */
div#add_to_cart button:hover {
    background-color: mediumblue;
}



/* products_simi */

div#product_simi {
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#product_simi h1{
    font-size: 300%;
    margin-left: 2%;
    align-self: flex-start;
}

div#product_simi ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none; /* Enlève les puces des listes */
    justify-content: center;
    padding-bottom: 1%;
    border-bottom: 5px solid lightslategray;
    width: 96%;
}

div#product_simi ul li {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 0.5%;
    justify-items: center;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 4px solid white;*/
}
div#product_simi ul li a{
    display: flex;
    text-decoration: none; /* Retire la décoration des liens */
    justify-content: center;
}

div#product_simi ul li a img{
    display: flex;
    height: auto;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div#product_simi ul li a img#img02{
    position: absolute; 
    left: -999em;
}

div#product_simi ul li:hover a img#img02{
    position: inherit;
}

div#product_simi ul li:hover a img#img01{
    position: absolute; 
    left: -999em;
}

div#product_simi ul li div{
    display: grid;
    grid-template-columns: 2.6fr 0.05fr 1.5fr 1fr;
    grid-template-rows: auto;
    margin: 2%;
    
}

div#product_simi ul li div p{
    display: flex;
    margin-top: 8%;
    margin-bottom: 8%;
    align-self: center;
}

div#product_simi ul li div p#name{
    display: flex;
    grid-area: auto/1/auto/2;
    justify-self: center;
}

div#product_simi ul li div p#price{
    display: flex;
    grid-area: auto/3/auto/4;
    justify-self: flex-end;
    font-size: large;
    color: rgb(255, 0, 0);
}

div#product_simi ul li div a{
    display: flex;
    align-self: center;
}

div#product_simi ul li div a span{
    display: flex;
    font-size: x-large;
    color: rgb(36, 35, 35);
}

div#product_simi ul li div a span:active{
    display: flex;
    font-size: x-large;
    color: gray;
}



/* P R O D U C T*/

div#product {
    grid-area: 0/2/2/2;
    display: flex;
    padding-top: 1%;
    margin-left: 2%;
    width: 100%;
    justify-content: flex-start;
}

div#product h1 {
    font-size: 300%;
}

div#product > div{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    width: 20%;
}

div#product div#avis{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 1%;
    border-left: 5px solid lightgray;
}

span.checked{
    color: gold;
}